# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE settings
.vscode/
.idea/

.parcel-cache/
dist/